<div class="row">
  <div class="col-12 d-flex justify-content-center">
    <div class="d-flex align-items-center">
      <img src="/images/alien-baby.gif" />
      <h1 class="fire-text d-inline-block text-center">UFO Sightings</h1>
      <img src="/images/alien-baby.gif" />
    </div>
  </div>
  <hr />
</div>